# OSX
#
.DS_Store

# Xcode
#
build/
.vscode
.vscode/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
*.iml
.idea
.gradle
local.properties
*.apk

#iOS
ios
ios/Pods
ios/Podfile
ios/Podfile.lock

# node.js
#
node_modules/*
npm-debug.log

# BUCK
buck-out/
\.buckd/
.vscode/launchReactNative.js
.vscode/typings/react/react.d.ts
.vscode/typings/react/react-addons-update.d.ts
.vscode/typings/react/react-global.d.ts

*.keystore
